<!DOCTYPE html>
<html lang="en">

<head>
    @await Html.PartialAsync("_header_scripts")
    <title>@ViewData["Title"] - PharmaCare</title>
    <link rel="stylesheet" href="~/css/custom.css" />
    @RenderSection("Styles", required: false)
</head>

<body>
    @RenderBody()

    @await Html.PartialAsync("_footer_scripts")
    @RenderSection("Scripts", required: false)
</body>

</html>
